<dom-module id="header-navigation">

  <link href="../css/navigation.css" rel="stylesheet">

  <template>
    <section id="header">
      <div class="window-control window-close"></div>
      <div class="window-control window-minimize"></div>
      <div class="window-control window-maximize"></div>
      <div class="navigation-controls position-float-left">
        <ul>
          <li class="navigation-controls-back"><span><</span></li>
          <li class="navigation-controls-forward"><span>></span></li>
        </ul>
      </div>
      <input type="text" class="input input-search position-float-left" placeholder="Enter a handle or a keyword" />
      <ul class="control-panel position-float-left">
        <li class="control-panel-discover">h</li>
        <li class="control-panel-user" style="background: url(https://pbs.twimg.com/profile_images/451017489065857024/vdpDUxoZ_400x400.jpeg) 50% 50% / cover no-repeat"></li>
      </ul>
    </section>

    <div class="user-menu visibility-hidden">
      <ul>
        <div class="user-menu-group">
          <li class="user-page-link" data-user-handle="@wolf">My page</li>
          <li class="menu-user-profile" data-user-handle="@wolf/edit">Edit my page</li>
          <li class="menu-user-profile" data-user-handle="@wolf/edit">Sell items</li>
        </div>
        <div class="user-menu-group">
          <li class="menu-purchases">Purchases</li>
          <li class="menu-sales">Sales</li>
          <li class="menu-cases">Cases</li>
        </div>
        <div class="user-menu-group">
          <li class="menu-notifications">Notifications</li>
          <li class="menu-settings">Settings</li>
        </div>
        <div class="user-menu-group" style="border:0">
          <li class="menu-about">About OpenBazaar</li>
          <li class="menu-about">Support OpenBazaar</li>
        </div>
      </ul>
    </div>
  </template>

  <script>
    Polymer({is: 'header-navigation'});
  </script>
  <script src="../js/objects/navigation.js"></script>
  <script src="../js/objects/search.js"></script>
  <script src="../js/objects/history.js"></script>
</dom-module>