<dom-module id="modal-pretty">

  <link href="../css/modal-pretty.css" rel="stylesheet">

  <template>
    <div class="modal-pretty primary-color visibility-hidden">
      <modal-pretty-address></modal-pretty-address>
      <modal-pretty-purchase-detail></modal-pretty-purchase-detail>
      <modal-pretty-trade-flow></modal-pretty-trade-flow>
      <modal-pretty-store-setup></modal-pretty-store-setup>
    </div>
  </template>

  <script>
    Polymer({is: 'modal-pretty'});
  </script>
</dom-module>