 <dom-module id="modal-pretty-address">
 
  <template>
    <div class="modal-address visibility-hidden">
      <div class="modal-photo">
        <iframe width="525" height="250" id="google-map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=North+America&key=AIzaSyCEFvQuq6vJM7w6CLg_xyQwTIDg_EFjihM" allowfullscreen></iframe>
      </div>  
      <div class="modal-navigation secondary-color" style="padding: 10px 15px">Edit address</div>
      <div class="modal-body primary-color">
        <table class="modal-new-address position-margin-0 visibility-hidden">
          <tr>
            <td style="border-right: solid 1px" class="border-secondary-color">Name</td>
            <td class="border-secondary-color"><input type="text" class="input input-large primary-color input-new-address-name" /></td>
          </tr>
          <tr>
            <td style="border-right: solid 1px" class="border-secondary-color">Address 1</td>
            <td class="border-secondary-color"><input type="text" class="input input-large primary-color input-new-address-address" /></td>
          </tr>
          <tr>
            <td style="border-right: solid 1px" class="border-secondary-color">Address 2</td>
            <td class="border-secondary-color"><input type="text" class="input input-large primary-color input-new-address-address2" /></td>
          </tr>
          <tr>
            <td style="border-right: solid 1px" class="border-secondary-color">City</td>
            <td class="border-secondary-color"><input type="text" class="input input-large primary-color input-new-address-city" /></td>
          </tr>
          <tr>
            <td style="border-right: solid 1px" class="border-secondary-color">State</td>
            <td class="border-secondary-color"><input type="text" class="input input-large primary-color input-new-address-state" /></td>
          </tr>
          <tr>
            <td style="border-right: solid 1px" class="border-secondary-color">Postal code</td>
            <td class="border-secondary-color"><input type="text" class="input input-large primary-color input-new-address-postal-code" /></td>
          </tr>
          <tr>
            <td style="border-right: solid 1px" class="border-secondary-color">Country</td>
            <td class="border-secondary-color"><select class="input input-large primary-color input-new-address-country position-width-100"><option>--</option></select></td>
          </tr>
        </table>

        <table class="modal-edit-address position-margin-0 visibility-hidden">
          <tr>
            <td style="border-right: solid 1px" class="border-secondary-color">Name</td>
            <td class="border-secondary-color"><input type="text" class="input input-large primary-color input-edit-address-name" /></td>
          </tr>
          <tr>
            <td style="border-right: solid 1px" class="border-secondary-color">Address 1</td>
            <td class="border-secondary-color"><input type="text" class="input input-large primary-color input-edit-address-address" /></td>
          </tr>
          <tr>
            <td style="border-right: solid 1px" class="border-secondary-color">Address 2</td>
            <td class="border-secondary-color"><input type="text" class="input input-large primary-color input-edit-address-address2" /></td>
          </tr>
          <tr>
            <td style="border-right: solid 1px" class="border-secondary-color">City</td>
            <td class="border-secondary-color"><input type="text" class="input input-large primary-color input-edit-address-city" /></td>
          </tr>
          <tr>
            <td style="border-right: solid 1px" class="border-secondary-color">State</td>
            <td class="border-secondary-color"><input type="text" class="input input-large primary-color input-edit-address-state" /></td>
          </tr>
          <tr>
            <td style="border-right: solid 1px" class="border-secondary-color">Postal code</td>
            <td class="border-secondary-color"><input type="text" class="input input-large primary-color input-edit-address-postal-code" /></td>
          </tr>
          <tr>
            <td style="border-right: solid 1px" class="border-secondary-color">Country</td>
            <td class="border-secondary-color"><select class="input input-large primary-color input-edit-address-country position-width-100"><option>--</option></select></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer primary-color border-secondary-color">
        <button class="button-first modal-close secondary-color border-primary-color">Cancel</button>
        <button class="modal-update-address secondary-color border-primary-color">Save</button>
      </div>
    </div>
  </template>

  <script>
    Polymer({is: 'modal-pretty-address'});
  </script>
</dom-module>