<dom-module id="modal-pretty">

  <link href="../css/modal-pretty.css" rel="stylesheet">

  <template>
    <div class="modal-pretty primary-color visibility-hidden">

      <div class="modal-address visibility-hidden">
        <div class="modal-photo">
          <iframe width="525" height="250" id="google-map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=North+America&key=AIzaSyCEFvQuq6vJM7w6CLg_xyQwTIDg_EFjihM" allowfullscreen></iframe>
        </div>  
        <div class="modal-navigation secondary-color" style="padding: 10px 15px">Edit address</div>
        <div class="modal-body primary-color">
          <table class="modal-new-address position-margin-0 visibility-hidden">
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color">Name</td>
              <td class="border-secondary-color"><input type="text" class="input input-large primary-color input-new-address-name" /></td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color">Address 1</td>
              <td class="border-secondary-color"><input type="text" class="input input-large primary-color input-new-address-address" /></td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color">Address 2</td>
              <td class="border-secondary-color"><input type="text" class="input input-large primary-color input-new-address-address2" /></td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color">City</td>
              <td class="border-secondary-color"><input type="text" class="input input-large primary-color input-new-address-city" /></td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color">State</td>
              <td class="border-secondary-color"><input type="text" class="input input-large primary-color input-new-address-state" /></td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color">Postal code</td>
              <td class="border-secondary-color"><input type="text" class="input input-large primary-color input-new-address-postal-code" /></td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color">Country</td>
              <td class="border-secondary-color"><select class="input input-large primary-color input-new-address-country position-width-100"><option>--</option></select></td>
            </tr>
          </table>

          <table class="modal-edit-address position-margin-0 visibility-hidden">
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color">Name</td>
              <td class="border-secondary-color"><input type="text" class="input input-large primary-color input-edit-address-name" /></td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color">Address 1</td>
              <td class="border-secondary-color"><input type="text" class="input input-large primary-color input-edit-address-address" /></td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color">Address 2</td>
              <td class="border-secondary-color"><input type="text" class="input input-large primary-color input-edit-address-address2" /></td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color">City</td>
              <td class="border-secondary-color"><input type="text" class="input input-large primary-color input-edit-address-city" /></td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color">State</td>
              <td class="border-secondary-color"><input type="text" class="input input-large primary-color input-edit-address-state" /></td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color">Postal code</td>
              <td class="border-secondary-color"><input type="text" class="input input-large primary-color input-edit-address-postal-code" /></td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color">Country</td>
              <td class="border-secondary-color"><select class="input input-large primary-color input-edit-address-country position-width-100"><option>--</option></select></td>
            </tr>
          </table>
        </div>
        <div class="modal-footer secondary-color">
          <button class="button-first modal-close secondary-color border-primary-color">Cancel</button>
          <button class="modal-update-address secondary-color border-primary-color">Save</button>
        </div>
      </div>

      <div class="modal-purchase-detail visibility-hidden">
        <div class="modal-photo"><div class="modal-photo-shadow"></div><div class="modal-transaction-id modal-contract-price-style position-float-left position-left-12px"></div><div class="modal-transaction-price modal-contract-price-style"></div></div>
        <div class="modal-navigation secondary-color">
          <ul>
            <li class="modal-navigation-selected" data-section="modal-purchase-detail-summary">Summary</li>
            <li data-section="modal-purchase-detail-shipping">Shipping</li>
            <li data-section="modal-purchase-detail-payment">Payment</li>
            <li data-section="modal-purchase-detail-settings">Settings</li>
          </ul>
        </div>

        <div class="modal-body primary-color">
          <table class="modal-purchase-detail-summary position-margin-0">
            <tr>
              <td class="position-padding-top-12px position-padding-bottom-12px position-padding-right-9px position-width-42px border-secondary-color"><div class="avatar modal-vendor-avatar"></div></td>
              <td class="position-padding-0 border-secondary-color">
                <div class="position-float-left type-no-wrap">
                  <div class="type-weight-medium position-margin-bottom-3px type-size-14px modal-contract-name"></div>
                  <div class="position-width-90 type-line-height-16px type-opacity type-weight-medium ">Sold by <span class="modal-vendor-name"></span></div>
                </div>
                <div class="type-weight-medium position-float-right position-margin-right-16px position-margin-top-10px modal-contract-price"></div>
              </td>
            </tr>
            <tr>
              <td class="position-padding-top-12px position-padding-bottom-12px position-padding-right-9px position-width-42px border-secondary-color"><div class="avatar modal-vendor-avatar"></div></td>
              <td class="position-padding-0 border-secondary-color">
                <div class="position-float-left type-no-wrap">
                  <div class="type-weight-medium position-margin-bottom-3px type-size-14px">Shipping</div>
                  <div class="position-width-90 type-line-height-16px type-opacity type-weight-medium ">Service by <span class="modal-vendor-name"></span></div>
                </div>
                <div class="type-weight-medium position-float-right position-margin-right-16px position-margin-top-10px modal-shipping-price"></div>
              </td>
            </tr>
            <tr>
              <td class="position-padding-top-12px position-padding-bottom-12px position-padding-right-9px position-width-42px border-secondary-color"><div class="avatar modal-mod-avatar"></div></td>
              <td class="position-padding-0 border-secondary-color">
                <div class="position-float-left type-no-wrap">
                  <div class="type-weight-medium position-margin-bottom-3px type-size-14px">Protected transaction</div>
                  <div class="position-width-90 type-line-height-16px type-opacity type-weight-medium ">Service by <span class="modal-mod-name"></span></div>
                </div>
                <div class="type-weight-medium position-float-right position-margin-right-16px position-margin-top-10px modal-mod-price"></div>
              </td>
            </tr>
          </table>

          <table class="modal-purchase-detail-shipping position-margin-0 visibility-hidden">
            <tr>
              <td class="position-padding-top-12px position-padding-bottom-12px position-padding-right-9px position-width-42px border-secondary-color"><div class="avatar modal-buyer-avatar"></div></td>
              <td class="position-padding-0 border-secondary-color">
                <div class="type-weight-medium position-margin-bottom-3px type-size-14px">Ship to</div>
                <div class="position-width-90 type-line-height-16px type-opacity type-weight-medium "><div class="modal-buyer-address"></div></div>
              </td>
            </tr>
          </table>

          <table class="modal-purchase-detail-payment position-margin-0 visibility-hidden">
            <tr>
              <td class="position-padding-top-12px position-padding-bottom-12px position-padding-right-9px position-width-42px border-secondary-color"><div class="avatar"></div></td>
              <td class="position-padding-0 border-secondary-color">
                <div class="position-float-left type-no-wrap">
                  <div class="type-weight-medium position-margin-bottom-3px type-size-14px">Payment sent to <span class="modal-mod-name"></span></div>
                  <div class="position-width-90 type-line-height-16px type-opacity type-weight-medium "><span class="modal-puchase-date"></span></div>
                </div>
                <div class="type-weight-medium position-float-right position-margin-right-16px position-margin-top-10px modal-contract-price"></div>
              </td>
            </tr>
          </table>

          <table class="modal-purchase-detail-settings position-margin-0 visibility-hidden">
            <tr>
              <td class="position-padding-top-12px position-padding-bottom-12px position-padding-right-9px position-width-100px">Order status</td>
              <td class="position-padding-0">
                <select class="select position-width-130px">
                  <option>Processing</option>
                  <option>Shipped</option>
                  <option>Delivered</option>
                  <option>Refunded</option>
                  <option>Complete</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="position-padding-top-12px position-padding-bottom-12px position-padding-right-9px position-width-100px">Tracking #</td>
              <td class="position-padding-0">
                <input type="text" class="input input-large" />
              </td>
            </tr>
            <tr>
              <td class="position-padding-top-12px position-padding-bottom-12px position-padding-right-9px position-width-100px">Refund</td>
              <td class="position-padding-0">
                <input type="text" class="input release-funds-amount input-medium position-float-left" placeholder="Enter amount in btc" /> 
                <select class="refund-to select position-float-left position-margin-left-10px position-margin-right-10px">
                  <option value="buyer">To buyer</option>
                  <option value="seller">To seller</option>
                </select>
                <button class="button-primary release-funds-to">Send</button>
              </td>
            </tr>
          </table>
        </div>
        <div class="modal-footer secondary-color">
          <button class="button-first modal-purchase-release-funds-to-buyer visibility-hidden secondary-color border-primary-color">Release funds to buyer</button>
          <button class="button-first modal-purchase-release-funds-to-seller visibility-hidden secondary-color border-primary-color">Release funds to seller</button>
          <button class="button-first modal-purchase-request-funds visibility-hidden secondary-color border-primary-color">Request funds from buyer</button>
          <button class="modal-purchase-dispute secondary-color">Dispute transaction</button>
        </div>
      </div>

      <div class="modal-trade-flow visibility-hidden">
        <div class="modal-photo"><div class="modal-qr-payment visibility-hidden"><div class="modal-qr-cost">Send .00286 btc to</div><div class="modal-qr-code"></div><input class="modal-qr-input" value="16RpcL7QAYZi1LaiW5NwRVABXaezvBCd73" /></div><div class="modal-photo-shadow"></div><div class="modal-contract-price modal-contract-price-style"></div></div>
        <div class="modal-header secondary-color">Payment type</div>
        <div class="modal-trade-flow-payment-type">
          <div class="modal-body primary-color">
            <table>
              <tr>
                <td colspan="3" class="type-line-height-16px type-opacity type-weight-medium border-secondary-color" style="padding: 0 16px 16px 16px">There are two payment options: moderated and direct. Using a moderator ensures both parties fulfill their end of the agreement prior to the funds transfering.</td>
              </tr>
              <tr>
                <td class="position-padding-left-16px position-padding-right-9px border-secondary-color"><input type="radio" checked /></td>
                <td class="position-padding-top-12px position-padding-bottom-12px position-padding-right-9px border-secondary-color"><div class="avatar"></div></td>
                <td class="border-secondary-color">
                  <div class="type-weight-medium position-margin-bottom-3px type-size-14px ">Moderated (1% tip will be included)</div>
                  <div class="position-width-90 type-line-height-16px type-opacity type-weight-medium "><span class="modal-vendor-name"></span> uses @ob1 as their trusted moderator to safely transfer the funds between you and them.</div>
                </td>
              </tr>
              <tr>
                <td class="position-padding-left-16px position-padding-right-9px border-secondary-color"><input type="radio" /></td>
                <td class="position-padding-top-12px position-padding-bottom-12px border-secondary-color position-padding-right-9px"><div class="avatar direct-avatar"></div></td>
                <td class="border-secondary-color">
                  <div class="type-weight-medium position-margin-bottom-3px type-size-14px">Direct</div>
                  <div class="position-width-90 type-line-height-16px type-opacity type-weight-medium">Send funds directly to <span class="modal-vendor-name"></span></div>
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer secondary-color">
            <button class="button-first trade-close border-primary-color secondary-color">Cancel</button>
            <button class="contract-trade-payment-type-next secondary-color">Next</button>
          </div>
        </div>

        <div class="modal-trade-flow-address visibility-hidden">
          <div class="modal-body primary-color">
            <table style="margin: 0">
              <tr class="position-height-72px">
                <td class="position-width-42px border-secondary-color"><input type="radio" class="position-margin-left-16px " checked /></td>
                <td class=" border-secondary-color">
                  <div class="type-weight-medium position-margin-bottom-3px">Mike Wolf</div>
                  <div class="type-weight-medium type-opacity">8458 Belmont Road Chicago, IL 60654</div>
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer secondary-color">
            <button class="button-first trade-back-to-payment border-primary-color secondary-color">Back</button>
            <button class="contract-trade-address-next secondary-color">Next</button>
          </div>
        </div>

        <div class="modal-trade-flow-summary visibility-hidden">
          <div class="modal-body primary-color">
            <table style="margin: 0">
              <tr class="position-height-72px">
                <td class="position-padding-top-12px position-padding-bottom-12px position-padding-right-9px border-secondary-color"><div class="avatar direct-avatar position-margin-left-16px"></div></td>
                <td class="position-width-100 border-secondary-color">
                  <div class="modal-contract-avatar position-float-left"></div>
                  <div class="position-float-left type-weight-medium position-margin-bottom-3px">
                    <div class="modal-item position-margin-bottom-3px"></div>
                    <div class="type-weight-medium type-opacity">Sold by <span class="modal-vendor-name"></span></div>
                  </div>
                  <div class="type-weight-medium position-float-right position-margin-right-16px position-margin-top-10px"><span class="modal-contract-price"></span></div>
                </td>
              </tr>
              <tr class="position-height-72px">
                <td class="position-padding-top-12px position-padding-bottom-12px position-padding-right-9px border-secondary-color"><div class="avatar direct-avatar position-margin-left-16px"></div></td>
                <td class="position-width-100 border-secondary-color">
                  <div class="modal-contract-avatar position-float-left"></div>
                  <div class="position-float-left type-weight-medium position-margin-bottom-3px">
                    <div class="position-margin-bottom-3px">Delivery</div>
                    <div class="type-weight-medium type-opacity">Service by <span class="modal-vendor-name"></span></div>
                  </div>
                  <div class="type-weight-medium position-float-right position-margin-right-16px position-margin-top-10px">.0002 btc ($5 USD)</div>
                </td>
              </tr>
              <tr class="position-height-72px">
                <td class="position-padding-top-12px position-padding-bottom-12px position-padding-right-9px border-secondary-color"><div class="avatar position-margin-left-16px"></div></td>
                <td class="position-width-100 border-secondary-color">
                  <div class="modal-contract-avatar position-float-left"></div>
                  <div class="position-float-left type-weight-medium position-margin-bottom-3px">
                    <div class="position-margin-bottom-3px">Secure transaction</div>
                    <div class="type-weight-medium type-opacity">Service by @ob1</div>
                  </div>
                  <div class="type-weight-medium position-float-right position-margin-right-16px position-margin-top-10px">.00016 btc ($3 USD)</div>
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer secondary-color">
            <button class="button-first trade-back-to-address border-primary-color secondary-color">Back</button>
            <button class="trade-pending type-opacity-half secondary-color">Payment pending</button>
            <button class="trade-done secondary-color">Done</button>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script>
    Polymer({is: 'modal-pretty'});
  </script>
</dom-module>
