<dom-module id="user-transactions">

  <template>
    <div class="transactions">
      <div class="user-page-navigation secondary-color" style="border: 0">
        <div style="width: 950px; margin: auto">
          <ul class="position-float-left">
            <li class="transactions-navigation-purchases secondary-color border-primary-color user-page-navigation-selected" data-section="purchases">Purchases</li>
            <li class="transactions-navigation-sales secondary-color border-primary-color" data-section="sales">Sales <span class="pill primary-color">$1.7k</span></li>
            <li class="transactions-navigation-cases secondary-color border-primary-color" data-section="cases">Cases</li>
          </ul>
        </div>
      </div>

      <div class="transactions-body primary-color">
        <input class="list-input list-input-search transactions-order-search" type="text" style="border-bottom: 0">
        <table class="list-view transactions-purchases">
          <tbody></tbody>
        </table>
        <table class="list-view transactions-sales">
          <tbody></tbody>
        </table>
        <table class="list-view transactions-cases">
          <tbody></tbody>
        </table>
      </div>
      <div class="discover-footer secondary-color"></div>
    </div>
  </template>

  <script>
    Polymer({is: 'user-transactions'});
  </script>
  <script src="../js/objects/transaction.js"></script>
  <script src="../js/objects/purchase.js"></script>
  <script src="../js/objects/sale.js"></script>
  <script src="../js/objects/case.js"></script>

</dom-module>