<dom-module id="user-notifications">

  <template>
    <div class="notifications">
      <div class="notifications-body primary-color">
        <table style="width: 100%">
          <tr>
            <td class="border-secondary-color">d</td>
          </tr>
          <tr>
            <td class="border-secondary-color">d</td>
          </tr>
          <tr>
            <td class="border-secondary-color">d</td>
          </tr>
          <tr>
            <td class="border-secondary-color">d</td>
          </tr>
          <tr>
            <td class="border-secondary-color">d</td>
          </tr>
          <tr>
            <td class="border-secondary-color">d</td>
          </tr>
        </table>
      </div>
    </div>
  </template>

  <script>
    Polymer({is: 'user-notifications'});
  </script>
  <script src="../js/objects/notification.js"></script>

</dom-module>