<dom-module id="user-settings">

  <template>
    <div class="settings">
      <div class="user-page-navigation secondary-color" style="border: 0">
        <div style="width: 950px; margin: auto">
          <ul class="position-float-left">
            <li class="settings-navigation-general secondary-color border-primary-color user-page-navigation-selected" data-section="general">General</li>
            <li class="settings-navigation-shipping secondary-color border-primary-color" data-section="shipping">Shipping</li>
            <li class="settings-navigation-keys secondary-color border-primary-color" data-section="blocked">Blocked</li>
            <!-- <li class="settings-navigation-keys secondary-color border-primary-color" data-section="keys">Keys</li> -->
            <li class="settings-navigation-advanced secondary-color border-primary-color" data-section="advanced">Advanced</li>
          </ul>
          <div class="settings-actions position-float-right position-margin-right-10px position-margin-top--2px">
            <div class="settings-save-changes">
              &nbsp;
              <button class="button-primary primary-color settings-save">Save</button>
            </div>
            <div class="settings-new visibility-hidden">
              &nbsp;
              <button class="button-primary primary-color settings-address-new">New</button>
            </div>
          </div>
        </div>
      </div>

      <div class="settings-body primary-color">
        <div class="settings-general">
          <table class="list-view">
            <tr>
              <td style="border-right: solid 1px; width: 190px" class="border-secondary-color type-opacity">Name</td>
              <td class="border-secondary-color"><input class="input primary-color input-settings-name" style="color: #fff; width: 100%; padding: 0" type="text"  /></td>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color type-opacity">Avatar</td>
              <td class="border-secondary-color"><input type="file" class="primary-color" /></td>
            </tr>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color type-opacity">Handle</td>
              <td class="border-secondary-color">
                <div class="handle-new-registration visibility-hidden">
                  <input class="list-input onename-handle-input position-margin-bottom-10px border-secondary-color" type="text" placeholder="Choose a handle" />
                  <a href="#" class="connect-to-onename type-color-ffffff">Connect exisiting Blockchain ID</a>
                </div>
                <div class="onboarding-handle-buttons">
                  <button class="button-primary register-new-onename secondary-color">Register new Blockchain ID</button>
                  <button class="button-primary connect-to-onename secondary-color">Connect existing Blockchain ID</button>
                </div>                               
              </td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color type-opacity">Bitcoin address</td>
              <td class="border-secondary-color"><input class="input primary-color input-settings-bitcoin-address" style="color: #fff; width: 100%; padding: 0" type="text"  /></td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color type-opacity">Country</td>
              <td class="border-secondary-color">
                <select class="input-settings-country primary-color" style="border: 0; color: #fff; width: 100%;">
                  <option>--</option>
                </select>
              </td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color type-opacity">Local currency</td>
              <td class="border-secondary-color">
                <select class="input-settings-currency primary-color" style="border: 0; color: #fff; width: 100%;">
                  <option>--</option>
                </select>
              </td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color type-opacity">Time Zone</td>
              <td class="border-secondary-color">
                <select class="input-settings-time-zone primary-color" style="border: 0; color: #fff; width: 100%;">
                  <option>--</option>
                </select>                
              </td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color type-opacity">Notifications</td>
              <td class="border-secondary-color">
                <select class="input-settings-notifications primary-color" style="border: 0; color: #fff; width: 100%;">
                  <option>On</option>
                  <option>Off</option>
                </select>                
              </td>
            </tr>
          </table>
        </div>

        <div class="settings-keys visibility-hidden">
          <table class="list-view">
            <tr>
              <td style="border-right: solid 1px; width: 190px" class="border-secondary-color type-opacity">Bitcoin public key</td>
              <td class="border-secondary-color"><input class="input primary-color input-settings-bitcoin-public-key" style="color: #fff; width: 100%; padding: 0" type="text" value="0475d54db3cede8ef4ce195c3c3657d7ae4716f75c9a39aa934b918c50a44adae92cf10fa607ea80646109adfead03cf283df3eeaa3d38b2d675a7cdedc8dbbc0e" readonly /></td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color type-opacity">BIP32 Seed</td>
              <td class="border-secondary-color"><input class="input primary-color input-settings-bip32-seed" style="color: #fff; width: 100%; padding: 0" type="text" value="52023375835877783890095657171109728525161228691975871930944891842381964675779" readonly=""  /></td>
            </tr>
            <tr>
              <td style="border-right: solid 1px; vertical-align: top" class="border-secondary-color type-opacity">PGP Public key</td>
              <td class="border-secondary-color">
                <textarea class="input primary-color input-settings-pgp-public-key" style="color: #fff; width: 100%; padding: 0; height: 270px;" readonly>-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v1

mQINBFVHs7IBEADJOOjs7OFDNowHWIJSsecQwJb/NZCI3l4pJ97jrKzlj/V/6LdT
2YaaenF/RScrZoO3Q7I+sGQoJUxSYY2zk9a6Jwh2c1pmBL5DQ/hJcz1FJHS/Hyrg
y0LxSQJ0z5O+HTaXS/0EAMvobY6U67g+RNeahesmqqtj1xPP/738PoFxCcqqh+BI
EOaOWpJ3YNzyHmroAY+JWxtSI4jAhEYvS5V5pZmRQ0G9xCxwXp2mBWlIr2f/L092
5bM59SGmjNGEhEaHl3F77/F/ivzLpQXVLwJgZFoKKGWU8U4rUxUe10gfri2QrggR
bCQ3zBqJL8tei7GvycceeRoL4D2/2NvExbi3mrETOoaV1OvrhRhTY2mt6HEir3mD
jUW2D8g2S+fXbUUMdIawmFPwvWtu+6+H0Qf6dJoWRHTkCwUnXwgonm/03nL9oP6N
2IG7buHzY+0b4kEkT/1u+tkJhLnyYhDCMIBBEN1QeDz39kol/ygYh5yJEi2ZK46d
ZsJNm4PgR2NetscsOEAImt/8phh8D8OsMdM51CX7ZPX9yZdfN8pGkHq7imNJFyoC
5BDs1RULK6OuqUmiFGwS//G6gZA5awgMAG9GGwTm+Zs6t7gdoZYIdYDQV12bV9sG
zc9vccpjD4YNoqIqzTuIIuyd/SiKkJKe6pv++dA/kNm2t+ztawO0avhRTQARAQAB
tEVBdXRvZ2VuZXJhdGVkIEtleSAoQXV0b2dlbmVyYXRlZCBieSBPcGVuIEJhemFh
cikgPHBncEBvcGVuYmF6YWFyLm9yZz6JAjgEEwECACIFAlVHs7ICGy8GCwkIBwMC
BhUIAgkKCwQWAgMBAh4BAheAAAoJEI/xzfQSEWxty5IQAKm2zXXjVcy9DzJCCyDP
WaV0DZzCwSpQTdBGvIMEFUS7nq8Ox84TdXpRXmYvqHIVeT+VlLmMg/BV2zyw2VNF
ax6/IdyLw0ry9bGK7bPhPU7oDZH8+T3ZsnqJBvQZ3r0/PH8s1+qxM3MNBszpT6md
gNBxo481IWVg09n3g93r0sUm2Ffov6kootlpuX6GAh8DpyRJoOH7psiHpqvjHWEg
zSfY33tAI1fb60MNNhU5Mo7VsB3WS5rNOKVFktfz7HbKRx/e5yC/ryBvk4335Rkb
9Fz7cuyLJlndu+LBVQBWPnK48uulEhYx69aHgSgg9yMH90qCCl++zgfnPCRXKSCg
x1Pro2eXO5yaVW81ZnyH7FAU4QFLTLpkEfgAuOM+X0GYWoMxIjwxKuJADkw0Lmzp
F/0Gj9InO8m8TI6yn31L9s4Yfn8IefA1UbuhngQ7QFIusKKCEbWk9oyqgMudrKQw
HYguUEXdiubZndwtdqGsYCEu1WTah8xCc1FdZQ4jMIAOAO+v2/x2xdcM/9oLkSJy
pa/vxX5SRYgAYyY3pho7Zq5pNEn4vSezy5nFvJ3PwiMHtPQqZHqLUxjKadjTU5cP
XV5NsGNUVUQIzcV/ZsoGXzvqtjzclsDK/Tmj9wgMYYly52YzM5rO5uUC03JCrNBM
D2wCQa+taaqsNhl7ijp84F5i
=O9nS
-----END PGP PUBLIC KEY BLOCK-----</textarea>
              </td>
            </tr>
          </table>
        </div>

        <div class="settings-shipping visibility-hidden">
          <table class="list-view">
            <tr>
              <td class="border-secondary-color">
                Mike Wolf
                <div class="type-opacity position-margin-top-2px">416 S Clark St  Chicago, IL 60654</div>
              </td>
              <td class="border-secondary-color type-align-right">
                <button class="button-primary secondary-color settings-edit-address" data-name="Mike Wolf" data-address="416 S Clark St" data-address-2="" data-city="Chicago" data-state="IL" data-postal-code="60654" data-country="United States">Edit</button>
                <button class="button-primary secondary-color settings-delete-address">Delete</button>
              </td>
            </tr>
          </table>
        </div>

        <div class="settings-advanced visibility-hidden">
          <table class="list-view">
            <tr>
              <td colspan="2" class="border-secondary-color type-opacity">Warning: changing advanced settings may make your node unconnectable</td>
            </tr>
            <tr>
              <td style="border-right: solid 1px; width: 190px" class="border-secondary-color type-opacity">OpenBazaar Server</td>
              <td class="border-secondary-color"><input class="input primary-color input-settings-obelisk-server" style="color: #fff; width: 100%; padding: 0" type="text" value="127.0.0.1:18465"  /></td>
            </tr>
            <tr>
              <td style="border-right: solid 1px; width: 190px" class="border-secondary-color type-opacity">Libbitcoin Server</td>
              <td class="border-secondary-color"><input class="input primary-color input-settings-obelisk-server" style="color: #fff; width: 100%; padding: 0" type="text" value="obelisk-baltic.airbitz.co:9091"  /></td>
            </tr>
            <tr>
              <td style="border-right: solid 1px; width: 190px" class="border-secondary-color type-opacity">SSL</td>
              <td class="border-secondary-color">
                <select class="primary-color" style="border: 0; color: #fff; width: 100%;">
                  <option>Off</option>
                  <option>On</option>
                </select>
              </td>
            </tr>
            <tr>
              <td style="border-right: solid 1px; width: 190px" class="border-secondary-color type-opacity">Seed phrase</td>
              <td class="border-secondary-color"><input class="input primary-color input-settings-seed-phrase" style="color: #fff; width: 100%; padding: 0" type="text" value=""  /></td>
            </tr>            
<!--             <tr>
              <td style="border-right: solid 1px" class="border-secondary-color type-opacity">Developer Tools</td>
              <td class="border-secondary-color">
                <button class="button-primary secondary-color clear-cache">Clear cache</button>
                <button class="button-primary secondary-color clear-peers">Clear peers</button>
                <button class="button-primary secondary-color stop-server">Stop server</button>
              </td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color type-opacity">Backup</td>
              <td class="border-secondary-color">
                <button class="button-primary secondary-color">Create backup</button>
              </td>
            </tr> -->
          </table>

        </div>
      </div>
      <div class="discover-footer secondary-color"></div>
    </div>
  </template>

  <script>
    Polymer({is: 'user-settings'});
  </script>
  <script src="../js/objects/settings.js"></script>

</dom-module>