<dom-module id="user-settings">

  <template>
    <div class="settings">
      <div class="user-page-navigation secondary-color" style="border: 0">
        <div style="width: 950px; margin: auto">
          <ul class="position-float-left">
            <li class="settings-navigation-general secondary-color border-primary-color user-page-navigation-selected" data-section="general">General</li>
            <li class="settings-navigation-shipping secondary-color border-primary-color" data-section="shipping">Shipping</li>
            <li class="settings-navigation-keys secondary-color border-primary-color" data-section="keys">Keys</li>
            <li class="settings-navigation-advanced secondary-color border-primary-color" data-section="advanced">Advanced</li>
          </ul>
          <div class="settings-actions position-float-right position-margin-right-10px position-margin-top--2px">
            <div class="settings-save-changes">
              &nbsp;
              <button class="button-primary primary-color settings-save">Save</button>
            </div>
            <div class="settings-new visibility-hidden">
              &nbsp;
              <button class="button-primary primary-color settings-address-new">New</button>
            </div>
          </div>
        </div>
      </div>

      <div class="settings-body primary-color">
        <div class="settings-general">
          <table class="list-view">
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color type-opacity">Name</td>
              <td class="border-secondary-color"><input class="input primary-color input-settings-name" style="color: #fff; width: 100%; padding: 0" type="text"  /></td>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color type-opacity">Avatar</td>
              <td class="border-secondary-color"><input type="file" class="primary-color" /></td>
            </tr>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color type-opacity">Handle</td>
              <td class="border-secondary-color">
                <div class="handle-new-registration visibility-hidden">
                  <input class="list-input onename-handle-input position-margin-bottom-10px border-secondary-color" type="text" placeholder="Choose a handle" />
                  <a href="#" class="connect-to-onename type-color-ffffff">Connect exisiting passcard</a>
                </div>
                <div class="onboarding-handle-buttons">
                  <button class="button-primary register-new-onename secondary-color">Register new passcard</button>
                  <button class="button-primary connect-to-onename secondary-color">Connect existing passcard</button>
                </div>                               
              </td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color type-opacity">Bitcoin address</td>
              <td class="border-secondary-color"><input class="input primary-color input-settings-bitcoin-address" style="color: #fff; width: 100%; padding: 0" type="text"  /></td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color type-opacity">Country</td>
              <td class="border-secondary-color">
                <select class="input-settings-country primary-color" style="border: 0; color: #fff; width: 100%;">
                  <option>--</option>
                </select>
              </td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color type-opacity">Local currency</td>
              <td class="border-secondary-color">
                <select class="input-settings-currency primary-color" style="border: 0; color: #fff; width: 100%;">
                  <option>--</option>
                </select>
              </td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color type-opacity">Time Zone</td>
              <td class="border-secondary-color">
                <select class="input-settings-time-zone primary-color" style="border: 0; color: #fff; width: 100%;">
                  <option>--</option>
                </select>                
              </td>
            </tr>
          </table>
        </div>

        <div class="settings-keys visibility-hidden">
          <table class="list-view">
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color type-opacity">Bitcoin public key</td>
              <td class="border-secondary-color"><input class="input primary-color input-settings-bitcoin-public-key" style="color: #fff; width: 100%; padding: 0" type="text" value="0475d54db3cede8ef4ce195c3c3657d7ae4716f75c9a39aa934b918c50a44adae92cf10fa607ea80646109adfead03cf283df3eeaa3d38b2d675a7cdedc8dbbc0e"  /></td>
            </tr>
          </table>
        </div>

        <div class="settings-shipping visibility-hidden">
          <table class="list-view">
            <tr>
              <td class="border-secondary-color">
                Mike Wolf
                <div class="type-opacity position-margin-top-2px">416 S Clark St  Chicago, IL 60654</div>
              </td>
              <td class="border-secondary-color type-align-right">
                <button class="button-primary secondary-color settings-edit-address" data-name="Mike Wolf" data-address="416 S Clark St" data-address-2="" data-city="Chicago" data-state="IL" data-postal-code="60654" data-country="United States">Edit</button>
                <button class="button-primary secondary-color settings-delete-address">Delete</button>
              </td>
            </tr>
          </table>
        </div>

        <div class="settings-advanced visibility-hidden">
          <table class="list-view">
            <tr>
              <td colspan="2" class="border-secondary-color type-opacity">Warning: changing advanced settings may make your node unconnectable</td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color type-opacity">Obelisk Server</td>
              <td class="border-secondary-color"><input class="input primary-color input-settings-obelisk-server" style="color: #fff; width: 100%; padding: 0" type="text" value="obelisk-baltic.airbitz.co:9091"  /></td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color type-opacity">Developer Tools</td>
              <td class="border-secondary-color">
                <button class="button-primary secondary-color">Clear cache</button>
                <button class="button-primary secondary-color">Clear peers</button>
                <button class="button-primary secondary-color">Stop server</button>
              </td>
            </tr>
            <tr>
              <td style="border-right: solid 1px" class="border-secondary-color type-opacity">Backup</td>
              <td class="border-secondary-color">
                <button class="button-primary secondary-color">Create backup</button>
              </td>
            </tr>
          </table>

        </div>
      </div>
      <div class="discover-footer secondary-color"></div>
    </div>
  </template>

  <script>
    Polymer({is: 'user-settings'});
  </script>
  <script src="../js/objects/settings.js"></script>

</dom-module>