.chat {
  background: #252525;
  border-left: solid 1px #424242;
  font-family: "font-medium";
  font-size: 13px;
  height: 100%;
  opacity: 1;
  position: fixed;
  top: 50px;
  padding: 0;
  right: -181px;
  transition: all .3s cubic-bezier(0, 0, 0.2, 1);
  width: 220px;
  z-index: 1300;
}

.chat table tr {
  border-bottom: solid 0px #424242;
}

.chat-new {
  border-bottom: solid 1px #424242;
  height: 45px;
  cursor: pointer;
  line-height: 45px;
  padding: 0 12px;
  text-align: left;
  font-size: 12px;
}

.chat-new-conversation {
  background: #252525;
  bottom: 50px;
  height: 309px;
  position: absolute;
  text-align: left;
  width: 220px;
  z-index: 105;
}

.chat-active {
  background: #525252;
}

.chat-conversation-detail {
  bottom: 50px;
  background: #252525;
  border-top: solid 1px #424242;
  height: 309px;
  position: absolute;
  text-align: left;
  width: 220px;
  z-index: 100;
  transition: all .3s cubic-bezier(0, 0, 0.2, 1);
}

.chat-conversation-detail-body,
.chat-new-conversation-body {
  bottom: 40px;
  max-height: 220px;
  min-height: 30px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 6px;
  position: absolute;
  width: 95%;
}

.chat-list-input-new {
  border-bottom: solid 1px #525252;
  border-top: solid 1px #525252;
  bottom: 40px;
  height: 42px;
  position: absolute;
}

.chat-list-input-new::-webkit-input-placeholder {
  color: #B3B3B3 !important;
}

.chat-new-conversation-body {
  padding: 0;
  width: 100%;
}

.chat-conversation-detail-title,
.chat-new-conversation-title {
  background: #525252;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  width: 100%;
}

.chat-conversation-detail-menu{
  background: #252525;
  border-bottom: solid 1px #424242;
  color: #fff;
  font-family: "font-medium";
  font-size: 13px;
  padding: 10px;
  right: 0;
  top: 40px;
  position: absolute;
  width: 200px;
  height: 50px;
  z-index: 1550;
}

.chat-conversation-detail-menu li {
  cursor: pointer;
  line-height: 25px;
  height: 25px;
}

.chat-conversation-detail-flip .chat-conversation-detail-avatar {
  float: right;
}

.chat-conversation-detail-flip .chat-conversation-detail-message{
  text-align: right;
}

.chat-conversations{
  cursor: pointer;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.chat-conversations td {
  padding: 0 5px;
}
.chat-avatar {
  background-size: cover;
  border-radius: 3px;
  height: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  position: relative;
  transition: all .3s cubic-bezier(0, 0, 0.2, 1);
  width: 30px;
}
.chat-avatar:hover {
  opacity: .80 !important;
}

.chat-conversation-detail-avatar {
  border-radius: 2px;
  float: left;
  height: 30px;
  position: relative;
  width: 30px;
}

.chat-conversation-detail-message {
  float: left;
  font-size: 12px;
  line-height: 30px;
  margin-bottom: 10px;
  margin-left: 6px;
  min-height: 30px;
  width: 80%;
}

.chat-read .chat-avatar {
  opacity: .15;
}

.chat-message {
  color: #cfcfcf;
  padding: 0;
  text-align: left;
  font-size: 12px;
}

.chat-read {
  color: #757575;
  font-size: 12px;
}

.chat-name {
  color: #fff;
  height: 12px;
  margin-bottom: 2px;
  font-family: "font-medium";
}

.chat-read .chat-name, .chat-read .chat-message {
  color: #757575 !important;
  font-size: 12px;
  font-family: "font-medium";
}

.chat-back {
  margin-right: 6px;
  margin-top: 10px;
  position: relative;
}

.chat.blur {
  -webkit-filter: blur(4px);
}