.chat {
  background: #252525;
  border-left: solid 1px #424242;
  font-family: "font-medium";
  font-size: 13px;
  height: 100%;
  opacity: 1;
  position: fixed;
  top: 50px;
  padding: 6px;
  right: -181px;
  transition: all .3s cubic-bezier(0, 0, 0.2, 1);
  width: 220px;
  z-index: 1300;
}

.chat-conversation-detail {
  bottom: -2px;
  height: 309px;
  left: 48px;
  position: absolute;
  text-align: left;
  width: 242px;
}

.chat-conversation-detail-body {
  bottom: 50px;
  max-height: 220px;
  min-height: 30px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 6px;
  position: absolute;
  width: 225px;
}

.chat-conversation-detail-title {
  border-bottom: solid 1px #2D2D2D;
  padding: 12px;
}

.chat-title {
  float: left;
}

.chat-conversation-detail-flip .chat-conversation-detail-avatar {
  float: right;
}

.chat-conversation-detail-flip .chat-conversation-detail-message{
  text-align: right;
}

.chat-conversations{
  cursor: pointer;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  padding-left: 5px;
  width: 100%;
}
.chat-conversations td {
  padding: 0;
}
.chat-avatar {
  background-size: cover;
  border-radius: 3px;
  height: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  position: relative;
  transition: all .3s cubic-bezier(0, 0, 0.2, 1);
  width: 30px;
}
.chat-avatar:hover {
  opacity: .80 !important;
}

.chat-conversation-detail-avatar {
  border-radius: 15px;
  float: left;
  height: 30px;
  margin-left: 7px;
  position: relative;
  width: 30px;
}

.chat-conversation-detail-message {
  float: left;
  font-size: 12px;
  line-height: 30px;
  margin-bottom: 10px;
  margin-left: 6px;
  min-height: 30px;
  width: 180px;

}

.chat-read .chat-avatar {
  opacity: .15;
}

.chat-message {
  color: #cfcfcf;
  padding: 0;
  text-align: left;
  font-size: 12px;
}

.chat-read {
  color: #757575;
  font-size: 12px;
}

.chat-name {
  color: #fff;
  height: 12px;
  margin-bottom: 2px;
  font-family: "font-medium";
}

.chat-read .chat-name, .chat-read .chat-message {
  color: #757575 !important;
  font-size: 12px;
  font-family: "font-medium";
}

.chat-close, .chat-new {
  margin-right: 8px;
  margin-top: 13px;
  position: relative;
}

.chat-new {
  font-family: "font-medium";
  font-size: 17px;
  margin-right: 4px;
}

.chat-back {
  margin-right: 6px;
  margin-top: 10px;
  position: relative;
}

.chat.blur {
  -webkit-filter: blur(4px);
}