.contract{
  color: #fff;
  display: inline-block;
  text-align: left;
  transition: all .3s cubic-bezier(0, 0, 0.2, 1);
  position: relative;
  vertical-align: top;
  width: 33.33%;
}

.contract:active{
  opacity: .75;
}

.contract:nth-child(3n){
  border-right: 0;
}

.contract-image{
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px;
  cursor: pointer;
  height: 250px;
  position: relative;
  width: 100%;
}

.contract-detail {
  border-radius: 3px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 75px;
  min-height: 580px;
  position: relative;
  height: 100%;
  text-align: left;
  width: 950px;
}

.contract-detail-meta {
  float: left;
  margin-left: 20px;
  padding: 20px;
  transition: all .3s cubic-bezier(0, 0, 0.2, 1);
  width: 500px;
}

.contract-detail-meta:hover {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.35);
}

.contract-detail-image {
  background-size: cover;
  float: left;
  height: 400px;
  width: 400px;
}

.contract-detail-sold-out {
  cursor: default;
}

.contract-detail-description {
  clear: both;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 17px;
  margin: 12px 0;
  opacity: 0.80;
}

.contract-image-gradient{
  /*box-shadow: inset 0px -130px 112px -52px rgba(20,20,20,.45);*/
  border-radius: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all .3s cubic-bezier(0, 0, 0.2, 1);
  width: 100%;
}

.contract:hover .contract-image-gradient{
  opacity: .25;
}

.contract-image:active .contract-image-gradient{
  transition: all .1s;
  opacity: .75;
}

.contract-meta-data{
  color: #fff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  padding: 10px 0 0 0;
  position: relative;
}

.contract-price{
  color: #fff;
  font-size: 13px;
  opacity: .75;
}

.contract-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.contract-detail-pricing{
  font-size: 13px;
  margin-top: 2px;
}

.contract-vendor{
  padding: 5px 0 0 0;
}

.contract-vendor-name{
  color: #fff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  opacity: .85;
  padding-top: 8px;
  transition: all .3s cubic-bezier(0, 0, 0.2, 1);
}

.contract-vendor-name:hover{
  cursor: pointer;
  text-decoration: underline;
}

.contract-vendor-avatar{
  background: #fff;
  background-size: cover;
  border-radius: 2px;
  cursor: pointer;
  float: left;
  height: 30px;
  margin-right: 6px;
  width: 30px;
}

.contract-delete {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -42px;
  z-index: 100;
}