.input {
  background: #327eb8;
  border-radius: 1px;
  border: 0;
  font-family: "font-regular";
  font-size: 13px;
  outline: none;
  opacity: .85;
  padding: 14px;
  height: 30px;
  transition: opacity .3s cubic-bezier(0, 0, 0.2, 1);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  width: 100px;
}

input:read-only,
textarea:read-only{
  cursor: not-allowed;
}

.textarea {
  background: #fff;
  border-radius: 1px;
  font-family: "font-regular";
  font-size: 13px;
  outline: none;
  opacity: .85;
  padding: 14px;
  width: 100%;
  height: 400px;
  transition: opacity .3s cubic-bezier(0, 0, 0.2, 1);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.input:hover,
.input:active,
.input:focus,
.textarea:hover,
.textarea:active,
.textarea:focus {
  opacity: 1;
}

.select {
  background: #327eb8;
  border-radius: 3px;
  color: #fff;
  border: 0;
  font-family: "font-medium";
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  padding: 12px;
  height: 37px;
  font-size: 13px;
  letter-spacing: .2px;
  outline: none;
}

.input-quantity {
  width: 40px;
  padding: 14px 4px;
  text-align: center;
}

.input-medium {
  width: 159px !important;
}

.input-large {
  width: 250px !important;
}

.input-small {
  width: 82px !important;
}

label {
  font-family: "font-regular";
  font-size: 14px;
  clear: both;
  display: block;
  margin-bottom: 5px;
}

.list-input {
  outline: none;
  color: #fff;
  background: transparent;
  height: 52px;
  border: 0;
  font-size: 13px;
  border-bottom: solid 1px #327EB8;
  width: 100%;
  padding: 15px;
}

.list-input-search {
  background-image: url('../img/icon-search-white.png') !important;     
  background-position: left 20px top 16px !important;
  background-repeat: no-repeat !important; 
  background-size: 14px !important;  
  border-left: 0 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: solid 1px #327EB8;
  height: 45px;
  text-indent: 25px;
}

.chat-search {
  background-position: left 13px top 16px !important;
  font-size: 12px !important;
  border-bottom: solid 1px #313131 !important;
}

.input-search {
  background: #fff;
  -webkit-app-region: no-drag;
  background-image: url('../img/icon-search.png') !important;     
  background-position: left 8px top 8px !important;
  background-repeat: no-repeat !important; 
  background-size: 14px !important;  
  border: 0 !important;
  color: #000;
  border-radius: 4px !important;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15) !important;
  height: 22px !important;
  letter-spacing: 0 !important;
  opacity: .85;
  transition: opacity .3s cubic-bezier(0, 0, 0.2, 1);
  margin-left: 6px !important;     
  margin-top: -9px !important;
  text-indent: 12px;
  width: 81.5% !important;
}

.input-search:hover,
.input-search:focus {
  opacity: 1;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
}

.input-chat-new-message {
  background: #252525;
  border-radius: 0;
  border-bottom: 0;
  border-top: solid 1px #313131;
  bottom: 0;
  color: #fff;
  font-size: 12px;
  height: 42px;
  line-height: 42px;
  position: absolute;
  width: 242px;
}

.input-chat-new-message::-webkit-input-placeholder {
  color: #B3B3B3 !important;
}
