.button-primary {
  border: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;  
  height: 32px;
  /*letter-spacing: .2px;*/
  line-height: 32px;
  outline: none;
  padding: 0 22px;
  letter-spacing: .3px;
  text-align: center;
  transition: all .3s cubic-bezier(0, 0, 0.2, 1);
}

.button-primary:hover{
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.30);
  opacity: .9;
  /*margin-top: -2px;*/
}

.button-primary:active{
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  opacity: .75;
  /*margin-top: -2px;*/
}

.button-primary:hover {
  background: #1a3f65;
}


.button-chat-control {
  background: #252525;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  height: 26px;
  line-height: 30px;
  text-align: center;
  min-width: 14px;
  padding: 0 6px
}

.button-chat-control:hover {
  opacity: .75;
}